@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700,800,900);

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Golos Text', sans-serif;
$fontSize: clamp(
  0.9375rem,
  0.6396rem + 1.1858vw,
  2.0625rem
); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000000; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1320px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
$containerFluidWidth: $maxWidth + $containerPadding;

// Брейк-поинты
$pc: 1332px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 837.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 582.98px; // Телефоны L
$mobileSmall: 375.98px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'null';

// Скролл заблокирован
.lock {
  overflow: hidden;
  touch-action: none;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
._container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

._container_fluid {
  display: flex;
  align-items: center;
  max-width: $containerFluidWidth;
  margin: 0 auto;
  padding: 0 $containerPadding;
  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
// @import "base";
@import 'sections';
@import 'settings';
@import 'header';
// Подключение стилей общих элементов проекта

// Подключение стилей отдельных блоков

// Подключение стилей отдельных страниц
